# multisocks
# copy this file to .env and customize

# number of Tor instances
SOCKS=5

# CORS origins for metrics
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# dashboard API
VITE_API_URL=http://metrics:8000
