global
  external-check
  insecure-fork-wanted
  log stdout format raw local0 info

defaults
  timeout client 60s
  timeout connect 5s
  timeout server  60s
  timeout http-request 60s
  log global

frontend loadbalancer
  mode tcp
  bind :8080
  use_backend tors

listen stats
    bind :1337
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats admin if LOCALHOST

backend tors
  balance leastconn
  option external-check
  external-check path "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  external-check command "/usr/local/etc/haproxy/check-tor.sh"
  {%- for host in tor_hosts %}
  server tor{{loop.index}} {{host}}:9050 check fall 5 rise 2 inter 7s
  {%- endfor %}


