global
  external-check
  insecure-fork-wanted
  log stdout format raw local0 info

defaults
  mode tcp
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend loadbalancer
  bind :8080
  use_backend tors

backend tors
  balance roundrobin
  option external-check
  external-check path "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  external-check command "/usr/local/etc/haproxy/check-tor.sh"
  {%- for host in tor_hosts %}
  server tor{{loop.index}} {{host}}:9050 check fall 5 rise 2 inter 7s
  {%- endfor %}


